<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	
	<title>orienteer.it</title>

	<!-- external CSS link -->
	<%= stylesheet_link_tag 'application' %>
	<link rel="icon" type="image/png" href="assets/images/favicon.ico"></link>
</head>
<body>
	<header>

		<nav>
			<div class='container'>
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'How it Works', how_path %></li>
					<li><%= link_to 'Mobile App', mobile_path %></li>
					<li><%= link_to 'Dashboard', user_root_path %></li>
				</ul>
					<li class ='user'>
						<p>Welcome, <%= "#{current_user.email}" %></p>
						<br>
						<p><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></p>	
					</li>
					
			</div><!--container-->
		</nav>
	</header><!--header-->

	<div class='container'>


<h2 class='resultTitle'>Search for Courses</h2>

<!--<%= form_tag "/dashboard/", method: "GET" do %>
	<%= text_field_tag :q, params[:q]%>
	<%= submit_tag "Search" %>
<% end %>-->

<table class='gridtable'>

	<thead>
		<th>Name</th>
		<th>City</th>
		<th>Country</th>
		<th>Date</th>
	</thead>
		
	<tbody>
		<% @maps.each do |map| %>
		<tr>
			<td><%= link_to "#{map.name}", dashboard_path(map) %></td>
			<td><%= map.city %></td>
			<td><%= map.country %></td>	
			<td><%= map.created_at %></td>
		</tr>
		<% end %>
	</tbody>

</table>


	</div><!--container-->

	

	<script type="text/javascript" src='lib/jquery-1.8.3.min.js'></script>
	<script type="text/javascript" src='js/app.js'></script>

</body>
</html>