

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	
	<title>orienteer.it</title>

	<!-- external CSS link -->
	<%= stylesheet_link_tag 'application' %>
	<link rel="icon" type="image/png" href="assets/images/favicon.ico"></link>
</head>
<body>
	<header>

		<nav>
			<div class='container'>
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'How it Works', how_path %></li>
					<li><%= link_to 'Mobile App', mobile_path %></li>
					<li><%= link_to 'Dashboard', user_root_path %></li>
				</ul>
			</div><!--container-->
		</nav>
	</header><!--header-->

<!-- 	<div class='container'> -->



<div class = 'login'>
	<h3>Dashboard Sign In</h3>
	<div class = 'Form'>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<ul>
		<li><div><%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %></div></li>
	  <li><div><%= f.label :password %>
	  <%= f.password_field :password %></div></li>
	  <li><% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%></li>
			
		</ul>
	  
	  
	  
	  <div><%= f.submit "Sign in" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
		

	</div>

</div>
<div class = 'background'><%= image_tag 'jogging.jpg' %></div>





	<!-- </div> --><!--container-->

	<footer>
		<div class='container'>
			<nav class='links'>
				<ul>
					<li><a href="about.html">About</a></li>
					<!--<li><a href="contact.html">Contact Us</a></li>-->
				</ul>
			</nav>
			<nav class='social'>
				<ul>
					<li class="twitter"><a href="#">Twitter</a></li>
					<li class="facebook"><a href="#">Facebook</a></li>
				</ul>
			</nav>	
		</div><!--container-->
	</footer>

	<script type="text/javascript" src='lib/jquery-1.8.3.min.js'></script>
	<script type="text/javascript" src='js/app.js'></script>
